<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>About</title>
</head>
<body>
    <h1>Welcome to the About page</h1>
    <p>This is the main content area.</p>
    <p>Check out the <a href="/">Homepage</a>.</p>

    <!-- Link to the JavaScript file -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>